@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.cursor {
  position: fixed;
  background-color: blue;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: -7.5px 0 0 -7.5px;
  user-select: none;
  pointer-events: none;
  z-index: 3;
}

.circles {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #d2d6d5;
  overflow: hidden;
}

/* //親要素のcirclesに対して子要素のcircleは絶対値 */
.circle {
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  background-color: rgb(12, 142, 0);
  width: 600px;
  height: 600px;
  margin: -300px 0 0 -300px;
}

.circle2 {
  background-color: rgb(132, 0, 255);
  width: 400px;
  height: 400px;
  margin: -200px 0 0 -200px;
}

.circle3 {
  background-color: rgb(206, 34, 0);
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
}

.content {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  mix-blend-mode: screen;
}

.content h1 {
  font-size: 9rem;
}
